name: pr-validator
on:
  pull_request:
    paths:
      - 'oci/*/*.y*ml'

jobs:
  get-submitted-files:
    runs-on: ubuntu-22.04
    name: Get submitted files
    outputs:
      changed-files: ${{ steps.changed-files.outputs.all_changed_files }}
      image-name: ${{ steps.changed-files-dir-names.outputs.all_changed_files }}
    steps:
      - uses: actions/checkout@v3
      
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v35
        with:
          json_raw_format: true

      - name: Get image name
        id: changed-files-dir-names
        uses: tj-actions/changed-files@v35
        with:
          dir_names: "true"

      - name: Only one image is being changed
        run: |
          set -eux
          dir_names="${{ steps.changed-files-dir-names.outputs.all_changed_files }}"
          echo "Can only modify 1 image per PR"
          (( $(echo "${dir_names}" | wc -w) == 1 ))

  check-missing-files:
    runs-on: ubuntu-22.04
    name: Check for missing files
    needs: [get-submitted-files]
    steps:
      - uses: actions/checkout@v3

      - name: Check if documentation.yaml exists
        uses: andstor/file-existence-action@v2
        with:
          files: "${{ needs.get-submitted-files.outputs.image-name }}/documentation.yaml"
          fail: true

      - name: Check if contacts.yaml exists
        uses: andstor/file-existence-action@v2
        with:
          files: "${{ needs.get-submitted-files.outputs.image-name }}/contacts.yaml"
          fail: true

  validate-submitted-files:
    runs-on: ubuntu-22.04
    name: Validate submitted files
    needs: [get-submitted-files]
    strategy:
      fail-fast: true
      matrix:
        filename: ${{ fromJSON(needs.get-submitted-files.outputs.changed-files) }}
    steps:
      - uses: actions/checkout@v3

      - name: Validate YAML format
        run: |
          set -eux
          pip install yamllint
          yamllint -c .yamllint.yaml ${{ matrix.filename }}

  test-builds:
    runs-on: ubuntu-22.04
    name: Test builds if needed
    needs: [validate-submitted-files, check-missing-files]
    steps:
      - uses: actions/checkout@v3
