name: Test rock
run-name: "Test rock - ${{ inputs.oci-image-name }} - ${{ github.ref }}"

on:
  workflow_call:
    inputs:
      # Workflow Parameters
      oci-archive-name:
        description: "OCI image artifact name."
        required: true
        type: string

      # Individual Test Parameters:

      ## OCI Compliance Test
      test-oci-compliance:
        description: "Enable compliance test."
        default: true
        type: boolean

      ## Rock black-box Test
      test-black-box:
        description: "Enable rock black-box test."
        default: true
        type: boolean

      ## Image Efficiency Test
      test-efficiency:
        description: "Enable image efficiency test."
        default: true
        type: boolean

      ## Vulnerability Test
      test-vulnerabilities:
        description: "Enable vulnerability test."
        default: true
        type: boolean
      trivyignore-path:
        description: "Optional path to .trivyignore file."
        type: string
      ignored-vulnerabilities:
        description: "List of vulnerability IDs to ignore during vulnerability test."
        type: string
      vulnerability-report-artifact-name:
        description: "Optional name for the vulnerability report artifact. Defaults to <oci-archive-name>.vulnerability-report.json"
        type: string
        required: false
        default: ""

      ## Malware Test
      test-malware:
        description: "Enable malware test."
        default: true
        type: boolean

    secrets:
      # authentication parameters
      host-github-token:
        description: "Deprecated: GitHub token from repository executing this workflow."
      pro-artifact-passphrase:
        description: "Passphrase for encrypting/decrypting rock artifacts when pro-services is used."

env:
  VULNERABILITY_REPORT_SUFFIX: ".vulnerability-report.json"  # TODO: inherit string from caller
  TEST_IMAGE_NAME: "test-img"
  TEST_IMAGE_TAG: "test"
  SKOPEO_IMAGE: "quay.io/skopeo/stable:v1.20.0"
  UMOCI_VERSION: "v0.4.7"
  UMOCI_BINARY: "umoci.amd64"
  DIVE_IMAGE: "wagoodman/dive:v0.13.1"
  TRIVY_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-db,aquasec/trivy-db,ghcr.io/aquasecurity/trivy-db
  TRIVY_JAVA_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-java-db,aquasec/trivy-java-db,ghcr.io/aquasecurity/trivy-java-db

jobs:
  configure-tests:
    runs-on: ubuntu-22.04
    outputs:
      cache-key: ${{ steps.set-cache.outputs.key }}
    name: "configure-tests ${{ inputs.oci-archive-name != '' && format('| {0}', inputs.oci-archive-name) || ' '}}"

    steps:
      - name: Warn deprecated secret
        env: 
          HOST_GITHUB_TOKEN: ${{ secrets.host-github-token }}
        if: ${{ env.HOST_GITHUB_TOKEN != '' }}
        run: |
          echo "::warning:: 'host-github-token' is unused and deprecated. Please remove this secret from the caller workflow."

      - name: Cloning OCI Factory
        uses: actions/checkout@v5
        with:
          # Here we clone the oci-factory repo using the default ref of the checkout action.
          # It will be set to a ref that triggered this workflow if the workflow is run within the oci-factory repo,
          # or to the default branch of the oci-factory repo if the workflow is called from another repo.
          repository: canonical/oci-factory
          fetch-depth: 1

      # download and unpack the image under test, then store it under a common cache key. 
      # This unpacked image is used in test-oci-compliance, test-black-box and test-malware jobs
      - name: Download Rock
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.oci-archive-name }}

      - name: Decrypt Rock
        env:
          ARTIFACT_PASSPHRASE: ${{ secrets.pro-artifact-passphrase }}
        if: ${{ env.ARTIFACT_PASSPHRASE != '' }}
        uses: ./.github/actions/crypt-artifact
        with:
          mode: decrypt
          passphrase: ${{ secrets.pro-artifact-passphrase }}
          input-path: ${{ inputs.oci-archive-name }}.gpg

      - name: Unpack Rock
        run: |
          docker run --rm -v /var/run/docker.sock:/var/run/docker.sock \
            -v $PWD:/workdir -w /workdir \
            ${{ env.SKOPEO_IMAGE }} \
            copy oci-archive:${{ inputs.oci-archive-name }} \
            oci:${{ env.TEST_IMAGE_NAME }}:${{ env.TEST_IMAGE_TAG }}

      - name: Set Cache Key
        id: set-cache
        run: |
          echo "key=${{ github.run_id }}-${{ inputs.oci-archive-name }}"  >> $GITHUB_OUTPUT

      - name: Cache Rock
        uses: actions/cache/save@v4
        with:
          path: ${{ env.TEST_IMAGE_NAME }}
          key: ${{ steps.set-cache.outputs.key }}

  test-oci-compliance:
    runs-on: ubuntu-22.04
    name: "test-oci-compliance ${{ inputs.oci-archive-name != '' && format('| {0}', inputs.oci-archive-name) || ' '}}"
    needs: [configure-tests]
    if: inputs.test-oci-compliance
    steps:
      - name: Cloning OCI Factory
        uses: actions/checkout@v4
        with:
          repository: canonical/oci-factory
          fetch-depth: 1

      - uses: actions/cache/restore@v4
        with:
          path: ${{ env.TEST_IMAGE_NAME }}
          key: ${{ needs.configure-tests.outputs.cache-key }}

      - name: Install Umoci
        uses: ./.github/actions/install-umoci
        with:
          umoci-version: ${{ env.UMOCI_VERSION }}
          umoci-binary: ${{ env.UMOCI_BINARY }}

      - name: Run Umoci tests
        run: |
          sudo umoci unpack --keep-dirlinks \
            --image ${{ env.TEST_IMAGE_NAME }}:${{ env.TEST_IMAGE_TAG }} \
            bundle

          umoci list --layout ${{ env.TEST_IMAGE_NAME }} | grep -w -c ${{ env.TEST_IMAGE_TAG }}

  test-black-box:
    strategy:
      matrix:
        os: [ubuntu-22.04]
    runs-on: ${{ matrix.os }}
    name: "test-black-box ${{ inputs.oci-archive-name != '' && format('| {0}', inputs.oci-archive-name) || ' '}}"
    needs: [configure-tests]
    if: inputs.test-black-box
    steps:
      - uses: actions/cache/restore@v4
        with:
          path: ${{ env.TEST_IMAGE_NAME }}
          key: ${{ needs.configure-tests.outputs.cache-key }}

      - name: Copy image to Docker daemon
        run: |
          docker run --rm -v /var/run/docker.sock:/var/run/docker.sock \
            -v $PWD:/workdir -w /workdir \
            ${{ env.SKOPEO_IMAGE }} \
            copy oci:${{ env.TEST_IMAGE_NAME }}:${{ env.TEST_IMAGE_TAG }} \
            docker-daemon:${{ env.TEST_IMAGE_NAME }}:${{ env.TEST_IMAGE_TAG }}

      - name: Create container
        run: |
          docker create ${{ env.TEST_IMAGE_NAME }}:${{ env.TEST_IMAGE_TAG }}

      - name: Test rock
        run: |
          set -e
          if [[ "$RUNNER_DEBUG" == "1" ]]; then
            set -x
          fi
          docker run --rm --entrypoint pebble ${{ env.TEST_IMAGE_NAME }}:${{ env.TEST_IMAGE_TAG }} \
            help | grep Pebble

  test-efficiency:
    runs-on: ubuntu-22.04
    name: "test-efficiency ${{ inputs.oci-archive-name != '' && format('| {0}', inputs.oci-archive-name) || ' '}}"
    needs: [configure-tests]
    # TODO: remove once https://chat.charmhub.io/charmhub/pl/o5wxpb65ffbfzy7bcmi8kzftzy is fixed
    continue-on-error: true
    if: inputs.test-efficiency
    steps:

      - name: Cloning OCI Factory
        uses: actions/checkout@v4
        with:
          repository: canonical/oci-factory
          fetch-depth: 1

      - uses: actions/cache/restore@v4
        with:
          path: ${{ env.TEST_IMAGE_NAME }}
          key: ${{ needs.configure-tests.outputs.cache-key }}

      - name: Copy image to Docker daemon
        run: |
          docker run --rm -v /var/run/docker.sock:/var/run/docker.sock \
            -v $PWD:/workdir -w /workdir \
            ${{ env.SKOPEO_IMAGE }} \
            copy oci:${{ env.TEST_IMAGE_NAME }}:${{ env.TEST_IMAGE_TAG }} \
            docker-daemon:${{ env.TEST_IMAGE_NAME }}:${{ env.TEST_IMAGE_TAG }}

      # The existing Dive GH actions are outdated:
      # https://github.com/MartinHeinz/dive-action/issues/1
      # https://github.com/yuichielectric/dive-action/issues/581
      - name: Dive lowestEfficiency test
        run: |
          docker run -e CI=true --rm \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v $PWD/src/tests/.dive-ci.yaml:/.dive-ci.yaml \
            ${{ env.DIVE_IMAGE }} \
            ${{ env.TEST_IMAGE_NAME }}:${{ env.TEST_IMAGE_TAG }} \
            --ci-config /.dive-ci.yaml \
            --highestUserWastedPercent disabled

      - name: Dive highestUserWastedPercent test
        continue-on-error: true
        run: |
          docker run -e CI=true --rm \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v $PWD/src/tests/.dive-ci.yaml:/.dive-ci.yaml \
            ${{ env.DIVE_IMAGE }} \
            ${{ env.TEST_IMAGE_NAME }}:${{ env.TEST_IMAGE_TAG }} \
            --ci-config /.dive-ci.yaml \
            --lowestEfficiency disabled


  test-vulnerabilities:
    runs-on: ubuntu-22.04
    name: "test-vulnerabilities ${{ inputs.oci-archive-name != '' && format('| {0}', inputs.oci-archive-name) || ' '}}"
    needs: [configure-tests]
    if: inputs.test-vulnerabilities
    env:
      ROCK_REPO_DIR: "rock-repo"
    steps:
      - name: Check mutual exclusivity of ignored vulnerabilities and trivyignore path
        run: |
          if [[ "${{ inputs.ignored-vulnerabilities }}" != "" && "${{ inputs.trivyignore-path }}" != "" ]]; then
            echo "Error: 'ignored-vulnerabilities' and 'trivyignore-path' inputs are mutually exclusive."
            exit 1
          fi

      - name: Cloning OCI Factory
        uses: actions/checkout@v4
        with:
          repository: canonical/oci-factory
          fetch-depth: 1
      
      - name: Checkout Rock Repo
        uses: actions/checkout@v4
        if: github.repository != 'canonical/oci-factory' && inputs.trivyignore-path != ''
        with:
          path: ${{ env.ROCK_REPO_DIR }}

      - name: Download Rock
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.oci-archive-name }}
      
      - name: Decrypt Rock
        env:
          ARTIFACT_PASSPHRASE: ${{ secrets.pro-artifact-passphrase }}
        if: ${{ env.ARTIFACT_PASSPHRASE != '' }}
        uses: ./.github/actions/crypt-artifact
        with:
          mode: decrypt
          passphrase: ${{ secrets.pro-artifact-passphrase }}
          input-path: ${{ inputs.oci-archive-name }}.gpg

      - name: Configure Trivy
        id: configure-trivy
        run: |
          set -e
          if [[ "$RUNNER_DEBUG" == "1" ]]; then
            set -x
          fi

          source src/shared/logs.sh

          docker_image="${{ env.TEST_IMAGE_NAME }}:${{ env.TEST_IMAGE_TAG }}"
          echo "docker-image=$docker_image" >> "$GITHUB_OUTPUT"
          source=oci-archive:${{ env.TEST_IMAGE_NAME }} 

          docker run --rm -v /var/run/docker.sock:/var/run/docker.sock \
            -v $PWD:/workdir -w /workdir \
            ${{ env.SKOPEO_IMAGE }} \
            copy oci-archive:${{ inputs.oci-archive-name }} \
            docker-daemon:$docker_image

          # Append the ROCK_REPO_DIR path prefix to the trivyignore path
          # if the repo is not canonical/oci-factory
          trivyignore_path="${{ inputs.trivyignore-path }}"
          if [[ "${{ github.repository }}" != "canonical/oci-factory" ]]; then
            trivyignore_path="${{ env.ROCK_REPO_DIR }}/${trivyignore_path}"
          fi

          if [[ ! -s "${trivyignore_path}" ]]; then
            trivyignore_path=.trivyignore
            echo "${{ inputs.ignored-vulnerabilities }}" | tr ' ' '\n' > "$trivyignore_path"
          fi

          echo "trivyignore-path=$trivyignore_path" >> "$GITHUB_OUTPUT"

          echo "report-name=${{ inputs.oci-archive-name }}${{ env.VULNERABILITY_REPORT_SUFFIX }}" >> "$GITHUB_OUTPUT"

      - name: Scan for vulnerabilities
        uses: aquasecurity/trivy-action@0.28.0
        with:
          # NOTE: we're allowing images with vulnerabilities to be published
          ignore-unfixed: true
          trivyignores: ${{ steps.configure-trivy.outputs.trivyignore-path }}
          format: "cosign-vuln"
          severity: "HIGH,CRITICAL"
          exit-code: "1"
          # NOTE: pebble is flagged with a HIGH vuln because of golang.org/x/crypto and encoding/gob
          # CVE-2021-43565, CVE-2022-27191, CVE-2024-34156
          skip-files: "/bin/pebble,/usr/bin/pebble"
          # missing ${{ runner.arch }}
          output: "${{ steps.configure-trivy.outputs.report-name }}"
          image-ref: "${{ steps.configure-trivy.outputs.docker-image }}"

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: ${{ inputs.vulnerability-report-artifact-name || steps.configure-trivy.outputs.report-name }}
          path: ${{ steps.configure-trivy.outputs.report-name }}


      # We have to walk through the vulnerabilities since trivy does not support outputting the results as Markdown
      - name: Create markdown content
        id: create-markdown
        if: ${{ !cancelled() }}
        run: |
          if [[ "$RUNNER_DEBUG" == "1" ]]; then
            set -x
          fi

          vulnerabilities="$(jq -r -c '[
            try(.scanner.result.Results[])
            | .Target as $target
            | .Vulnerabilities
            | select(. != null)
            | .[]
            | {Target: $target, LastModifiedDate: .LastModifiedDate, VulnerabilityID: .VulnerabilityID,
              PkgName: .PkgName, Severity: .Severity}
                  ]' < ${{ steps.configure-trivy.outputs.report-name }})"

          num_vulns=$(echo "$vulnerabilities" | jq -r 'length')
          
          if [[ $num_vulns -gt 0 ]]; then
            echo "# Vulnerabilities found for ${{ inputs.oci-archive-name }}" >> $GITHUB_STEP_SUMMARY
            title="Vulnerabilities found for ${{ inputs.oci-archive-name }}"
            echo "## $title" >> $GITHUB_STEP_SUMMARY
            echo "| ID | Target | Severity | Package |" >> $GITHUB_STEP_SUMMARY
            echo "| -- | ----- | -------- | ------- |" >> $GITHUB_STEP_SUMMARY
            echo "$vulnerabilities" | jq -r '.[] | "| \(.VulnerabilityID) | /\(.Target) | \(.Severity) | \(.PkgName) |"' >> $GITHUB_STEP_SUMMARY
          fi
          
      - name: Identify unncessary trivyignore entries
        if: ${{ !cancelled() }}
        uses: ./.github/actions/check-trivyignore
        with:
          image-ref: "${{ steps.configure-trivy.outputs.docker-image }}"
          trivyignores: ${{ steps.configure-trivy.outputs.trivyignore-path }}

  test-malware:
    runs-on: ubuntu-22.04
    name: "test-malware ${{ inputs.oci-archive-name != '' && format('| {0}', inputs.oci-archive-name) || ' '}}"
    needs: [configure-tests]
    if: inputs.test-malware
    steps:
      - name: Cloning OCI Factory
        uses: actions/checkout@v4
        with:
          repository: canonical/oci-factory
          fetch-depth: 1

      - uses: actions/cache/restore@v4
        with:
          path: ${{ env.TEST_IMAGE_NAME }}
          key: ${{ needs.configure-tests.outputs.cache-key }}

      - name: Install Umoci
        uses: ./.github/actions/install-umoci
        with:
          umoci-version: ${{ env.UMOCI_VERSION }}
          umoci-binary: ${{ env.UMOCI_BINARY }}

      - name: Unpack image
        run: |
          set -e
          if [[ "$RUNNER_DEBUG" == "1" ]]; then
            set -x
          fi
          umoci unpack \
            --image ${{ env.TEST_IMAGE_NAME }}:${{ env.TEST_IMAGE_TAG }} \
            --rootless raw

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - run: pip install -r src/tests/requirements.txt

      - name: Scan for malware
        run: |
          python3 -m src.tests.malware_scan --filesystem ./raw/rootfs
